<p>Hi!</p>

<p>An account for you has been made on {{websiteName}}.</p>
<p>Please verify this email account by clicking on this <a href="https://{{websiteURL}}/verify?email={{email}}&token={{token}}">link</a>:</p>
<p>https://{{websiteURL}}/verify?email={{email}}&token={{token}}</p>

If you did not make this request, please ignore this email.

<p>Thanks!</p>