<h1>This is an Edit page</h1>

<a href="/{{controllerName}}">Back to table {{title}}</a>
<a href="/{{controllerName}}/show/{{id}}">Back to show</a>

<form action="/{{controllerName}}/update/{{id}}" method="post">
  {{!-- table --}}
  <div class="crud-table">
    <table></table>
  </div>

  {{!-- save button --}}
  <button id='saveButton'>Save</button>
</form>

<button id="deleteButton" onclick="delete_this_item({{id}})">Delete</button>
<button id="restoreButton" onclick="restore_this_item({{id}})"
{{#if isNotDeleted }}
  disabled
{{/if}}
>Restore</button>


<script>
  var data = {{{ json }}} || {}

  d3.select("table")
    .selectAll("tr")
    .data(Object.entries(data))
    .enter()
    .append("tr")
    .html(function ([key, value]) {

      if (typeof value === 'object') {
        value = JSON.stringify(value)
      }

      if (value && value !== 'null' && (key === 'image' || key === 'photo')) {
        value = `<img src="${value}" />`
      }

      return `<td>${key}</td><td>
      <input name="${key}" type="text" value="${value}" />
      </td>`
    })

  function delete_this_item(id) {
    if (confirm('Are you sure you want to delete this?')) {
      window.location.href = '/{{controllerName}}/delete/' + id
    }
  }

  function restore_this_item(id) {
    if (confirm('Are you sure you want to restore this?')) {
      window.location.href = '/{{controllerName}}/restore/' + id
    }
  }
</script>