<h1>This is an Edit page</h1>

<a href="/{{controller}}">Back to table {{title}}</a>

<form action="/{{controller}}/update/{{id}}" method="post">
  {{!-- table --}}
  <div>
    <table></table>
  </div>

  {{!-- save button --}}
  <button id='saveButton'>Save</button>
</form>

<script>
  var data = {{{ json }}}
  console.log(data)

  d3.select("table")
    .selectAll("tr")
    .data(Object.entries(data))
    .enter()
    .append("tr")
    .html(function ([key, value]) {

      if (typeof value === 'object') {
        value = JSON.stringify(value)
      }

      if (value && value !== 'null' && (key === 'image' || key === 'photo')) {
        value = `<img src="${value}" />`
      }

      return `<td>${key}</td><td>
      <input name="${key}" type="text" value="${value}" />
      </td>`
    })

</script>