<h1>This is a list page</h1>

<p>Put list stuff here</p>

<div>
  <table id="myTable"></table>
</div>

<button onclick="window.location.href='/{{controllerName}}/new'">Create New {{title}}</button>

<script>
  console.log("hey, we're in list.hbs")

  $.ajax('/{{controllerName}}/columns')
    .then(function (columns) {
//      console.log("columns", data)
//      let columns = JSON.parse(data)

      columns.forEach(addRenders)

      $('#myTable').DataTable({
        ajax: {
          url: '/{{controllerName}}/json',
          dataSrc: 'data',
          data: function (d) {
            delete d.columns;
            return d
          }
        },
        order: [[0, 'desc']],
        processing: true,
        serverSide: true,
        columns: columns
      });

    })

  function addRenders(column) {
    const links = []

    {{#each links}}
    links.push({{{this}}})
    {{/each}}

    links.forEach(function (link) {
      if (link.attribute.fieldName === column.data) {
        column.render = function (data, type, row, meta) {
          let name = row[link.name].name || data
          return `<a href="/${link.name.toLowerCase()}/${data}">${name}</a>`
        }
      }
    })

    if (column.data === '{{ primaryKey }}') {
      column.render = function (data, type, row, meta) {
        return `<a href="/{{controllerName}}/${data}">${data}</a>
        <span style="float:right"><a href="/{{controllerName}}/edit/${data}">📝</a></span>`
      }
    }

    if (column.type === 'object') {
      column.render = function (data, type, row, meta) {
        return `<p class="blob">${JSON.stringify(data)}</p>`
      }
    }

    if (column.type === 'date') {
      column.render = function (data, type, row, meta) {

        let time = new Date(data).toLocaleTimeString()
        let date = new Date(data).toLocaleDateString()
        return `${time} ${date}`
      }
    }
  }

</script>