<h1>This is a Create page</h1>

<a href="/{{controllerName}}">Back to table {{title}}</a>

<form action="/{{controllerName}}/create" method="post">
  <div>
    <table>

      {{#each fields}}
      <tr>
        <td style="text-transform: capitalize;">{{this.name}}</td>
        <td>
          <input name="{{this.name}}" type="text" value="" placeholder='Enter "{{this.name}}" here' required>
        </td>
        <td>
          {{this.type}}
        </td>
        <td>
          {{this.all}}
        </td>
      </tr>
      {{/each}}
    </table>
  </div>
  <button id='saveButton'>Save</button>
</form>