<h1>This is a Show page</h1>

<a href="/{{controllerName}}">Back to table {{title}}</a>

<div class="crud-table">
  <table></table>
</div>

<button id="editButton" onclick="window.location.href='/{{controllerName}}/edit/{{id}}'">Edit</button>

<script>
  var data = {{{ json }}}
  console.log(data)

  d3.select("table")
    .selectAll("tr")
    .data(Object.entries(data))
    .enter()
    .append("tr")
    .html(function ([key, value]) {

      if (typeof value === 'object') {
        value = JSON.stringify(value)
      }

      if (value && value !== 'null' && (key === 'image' || key === 'photo')) {
        value = `<img src="${value}" />`
      }

      return `<td>${key}</td><td>${value}</td>`
    })

</script>