<label for="{{field}}">{{field}}:</label>
<input
{{#if disabled}}disabled{{/if}}
{{#if required}}required{{/if}}
 type="{{#if type}}{{type}}{{else}}type{{/if}}" id="{{field}}" name="{{field}}" value="{{field}}" />
{{#if helpText}}<sub>{{helpText}}</sub>{{/if}}
<br />