{{!-- Rendered as content when a directory under src/ is requested and no index was found (development only). --}}
<h1>Index of /{{pathname}}</h1>
<p class="folder-index-breadcrumb">
  <a href="/">Home</a>{{#if pathname}}{{#if parentPath}} / <a href="/{{parentPath}}">{{parentPath}}</a>{{/if}} / <span>{{pathname}}</span>{{/if}}
</p>
<table class="table table-striped folder-index-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each entries}}
    <tr>
      <td>
        {{#if isDirectory}}
        <a href="{{../basePath}}{{name}}/">📁 {{name}}/</a>
        {{else}}
        <a href="{{../basePath}}{{name}}">{{name}}</a>
        {{/if}}
      </td>
      <td>{{#if isDirectory}}Directory{{else}}File{{/if}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

<style>
  {{!-- Write SCSS here to style the folder index --}}
  .folder-index-breadcrumb {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .folder-index-table {
    width: 100%;
    border-collapse: collapse;
  }
  .folder-index-table th, .folder-index-table td {
    border: 1px solid #ddd;
  }
</style>
